.productHeaderContainer{
    background-color: rgb(253, 188, 188);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px

}

.productHeaderWrapper{
    width: 300px;
    background-color: tomato;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productText{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}