.componentWrapper{
    background-color: red;
    display: flex;
}

.leftNav{
    background-color:rgb(240, 240, 240);
    width: 550px;
    display: flex;
    justify-content: center;
}

.middleNav{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    padding: 5px;
}

.rightNav{
    background-color:rgb(240, 240, 240);
    width: 550px;
    display: flex;
    justify-content: center;
}
